.list-group {
    --bs-list-group-bg: transparent;
}

/*Redes*/
.fa-brands.fa-linkedin.fa-2xl:hover {
    --bs-text-opacity: 1;
    color: blue !important;
}

.fa-brands.fa-instagram.fa-2xl:hover {
    --bs-text-opacity: 1;
    color: deeppink !important;
}

.fa-brands.fa-github.fa-2xl:hover {
    --bs-text-opacity: 1;
    color: cadetblue !important;
}

section.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.4)), url(../img/banner.png);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}

h1.intro {
    padding-top: 15%;
    font-size: 3rem;
}

.progress,
.certif,
.card:hover {
    box-shadow: 0 0.1rem 0.4rem rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.3s ease;
}

.login{
    height: 75vh;
}

.formulario-login{
    margin-top: 15%;
}

.Perfil{
    width: 70%;
}

.admin{
    font-size: 1.3rem;
}

.link{
    text-decoration: none;
    color: #000000;
}

nav.vertical{
    float: left;
    margin-left: 0.5rem;
    margin-top: 1.5rem;
    align-items: center;
}

li.vertical{
    display: flex;
    margin: 0;
    writing-mode: vertical;
    padding: 1.5rem 0;
    font-size: 1.5rem;
}

/* footer */

footer {
        background: black;
        height: 70px;
        border-top: 2px solid rgba(0, 0, 0, 0.24);  
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
    }

footer p {
    text-align: center;
    font-size: small;
    color: white;
}

.botones{
    text-align: center;
    font-size: medium;
}

footer a {
    transition: color 0.3s ease;
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: cornflowerblue;
}

.last{
    padding-bottom: 6rem;
}

.proyectos{
    padding-bottom: 10rem;
}